@model WebApplication1.Models.OrderDetail

<div class="product-box">
    @if (Session["IsAdmin"] is true)
    {
        <div class="admin-btn">
            <a href="/Products/Delete/@Model.ProductID" class="no-select remove">&#x2715;</a>
            <a href="/Products/Edit/@Model.ProductID" class="no-select remove">
                <img class="edit-btn" src="@Url.Content("~/Image/svg/pencil.svg")" />
            </a>
        </div>
    }
    <div class="position-relative product-image">
        @if (Model.Product.StockQuantity == 0)
        {
            <div class="no-select out-of-stock-overlay">Hết hàng</div>
        }
        <img src="@Url.Content(Model.Product.ProductImg)" />
    </div>
    <div class="product-content">
        <div class="d-flex gap-4">
            <a class="no-select BuyNowBtn out-of-stock">Số lượng: @Model.StockQuantity</a>
            <img src="~/Image/svg/heart.svg" alt="favorite" />
        </div>
    </div>
</div>